main{
    color: rgb(127, 128, 129);
}

hr{
    color: var(--colorPrimario);
}
.text_titulo{
    color: var(--colorPrimario);
    font-family: var(--tipografiaMerriweather-Sans);
}
.contenedor_img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.boton-mapa{
    background-color: var(--colorAzul);
    color: aliceblue;
    font-family: var(--tipografiaMerriweather-Sans);
}
.boton-mapa:hover{
    background-color: var(--colorPrimario);
    color: aliceblue;
}
.banner_separador{
    background-color: var(--colorAzul);
    padding: 0.5rem;
}

.contenedor_confirmacion{
    background-color: var(--colorPrimario);
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/img/fondo-confirmacion.jpg');
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
}

.boton-wsp{
    background-color: rgb(37, 211, 102);
    color: aliceblue;
    font-family: var(--tipografiaMerriweather-Sans);
    font-weight: bold;
    font-size: 20px;
}

.boton-wsp:hover{
    background-color:aliceblue ;
    color: rgb(37, 211, 102);
}
