.card{
    border-radius: 0%;
    box-shadow: none;
}

.gradient-overlay {
    background: linear-gradient(to top, white 3%, transparent 60%);
}

.titulo_2 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-end;   /* Coloca el h1 en la parte inferior */
    height: 310px;           /* Define la altura  */
}
.titulo_2 h1{
        font-family: var(--tipografiaDancing-Script);
        color: brown;
        font-size: 6.5rem;
        text-shadow: 0px 0px 7px rgb(255, 255, 255);

    
}
.titulo_1 {
    display: flex;
    justify-content: start; /* Centra horizontalmente */
    align-items: flex-end;   /* Coloca el h1 en la parte inferior */
}

.titulo_1 h3{
    font-family: var(--tipografiaPassion-One);
    color: var(--colorPrimario);
    font-size: 2rem;
}


td {
    /* border-style: solid; */
    border-color: #ffffff;
    /* border-width: 0px; */
    color: var(--colorAzul);
   /*  padding: 0px; */
    font-size: 40px;
    font-family: var(--tipografiaPacifico);
    text-align: center;
}

th {
/*  border-width: 0px; */
color: var(--colorAzul);
 text-align: center;
/* padding: 0px; */
font-size: 14px;
font-family: var(--tipografiaPassion-One);
}
 

/* MEDIAS QUERIS */

@media (max-width: 360px) {
    /* Estilos para pantallas con un ancho máximo de 360px  */
    .titulo_2 {
        
        height: 250px;  
    }
  
}
  