
.gradient-overlay {
    background: linear-gradient(to top, white 3%, transparent 60%);
}
.titulo_2 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-end;   /* Coloca el h1 en la parte inferior */
    height: 45vh;           /* Define la altura completa del contenedor */
   
    h1{
        font-family: var(--tipografiaDancing-Script);
        color: brown;
        font-size: 4rem;
    }
    
}

.titulo_1 {
    display: flex;
    justify-content: start; /* Centra horizontalmente */
    align-items: flex-end;   /* Coloca el h1 en la parte inferior */
    
    h3{
        font-family: var(--tipografiaPassion-One);
        color: brown;
        font-size: 2rem;
    }
}



td {
    /* border-style: solid; */
    border-color: #ffffff;
    /* border-width: 0px; */
    color: black;
   /*  padding: 0px; */
    font-size: 40px;
    font-family: var(--tipografiaPacifico);
    text-align: center;
}

th {
/*  border-width: 0px; */
color: black;
 text-align: center;
/* padding: 0px; */
font-size: 14px;
font-family: var(--tipografiaPassion-One);
}
 
