:root {
    --tipografiaDancing-Script: "Dancing Script", cursive; 
    --tipografiaDamion: "Damion", cursive ;
    --tipografiaPassion-One: "Passion One", sans-serif;
    --tipografiaPacifico: "Pacifico", cursive; 
    --tipografiaMerriweather-Sans: "Merriweather Sans", sans-serif ;
    --tipografiaPoppins: 'Poppins', sans-serif;
    --colorPrimario: brown;
    --colorAzul: #254867; 
    --colorDorado: #ba964a;
}